{
	"dataAccess" : {
		"DB_HOST": "0.0.0.0",
		"DB_USER": "adam",
		"DB_PASSWORD": "[password]",
		"DB_DATABASE": "thediscoverables"
	},
    "test" : {
        "DOMAIN": "localhost", // us your website runs on a port other than 80, add it here.
        "TEST_USERNAME": "adam",
        "TEST_PASSWORD": "[password]",
        "TEST_DOMAIN": "localhost",
        "TEST_EMAIL" : "[email]"
    }
}