{
	"dataAccess" : {
		"DB_HOST": "0.0.0.0",
		"DB_USER": "thediscoverables",
		"DB_PASSWORD": "[password]",
		"DB_DATABASE": "thediscoverables"
	},
    "user" : {
        "username": "admin",
        "firstName": "Admin",
        "lastName": "Tool",
        "email": "[email]",
        "password" : "[password]"
    }
}