br {
 clear: left;
}

* {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	-webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

p {
	font-size: 18pt;
	text-align: center;
}
#page {
    margin:20px 0px; padding:0px;
    text-align: center;
    align:center;
}
#mainMenue {
	margin:15px 50px; 
	padding:0px;
    text-align: left;
    align:left;
    display: inline-block;
    float: left;
}
form {
	display: inline-block;
}

p.formTitle {
	font-size: 14pt;
	text-align: left;
}

.password-reset label {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

form label, input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
	font-size: 11pt;
}


form label {
	text-align: right;
}

label {
	width: 75px;
	padding-right: 20px;
}

ul.loginErrors, ul.validationErrors {
	color: red;
	list-style-type: none;
}

.link {
	/*color: blue;*/
	color: rgba(0,0,0,0.87);
    cursor: pointer;

}

.userCells {
	text-align: left;

}
.userCells td {
	padding: 4px;
}


.editButton {
	color: rgba(0,0,0,0.87);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 8px;
    opacity: .55;
    outline: 0;
    padding: 4px;
    position: relative;
    -webkit-transition: .15s transform;
    transition: .15s transform;

}