{
	"dataAccess" : {
		"DB_HOST": "localhost",
		"DB_USER": "thediscoverables",
		"DB_PASSWORD": "[password]",
		"DB_DATABASE": "thediscoverables"
	},
	"security" : {
		"SECRET_WORD": "",
		"LOGIN_COOKIE_NAME": ""
	},
	"email": {
		"USER": "emailaddress@gmail.com",
		"PASSWORD": "[password]",
		"FROM_ADDRESS": "emailaddress@gmail.com",
		"FROM_NAME": "The Discoverables Support"
	}
}